
<div class="section-cont">
  <div class="book-header">
    <h2 class="title large">Books Section</h2>

    <div style="position: absolute ; top:100px">
      <% if (messages.error) { %>
        <p style="color:red"><%- messages.error %></p>
    <% } %>
    
    <% if (messages.success) { %>
         <p class="alert alert-success mt-4"><%- messages.success %></p>
    <% } %>
    </div>

    <form action="/books" method="post">
      <input list="categories" name="category" id="category">
      <datalist id="categories">
        <option value="Fantasy">
        <option value="Science-Fiction">
        <option value="Comics">
        <option value="Action and Adventure">
        <option value="Spiritual">
        <option value="Mystery">
        <option value="Comedy">
      </datalist>
    </form>
  
  </div>

  <div class="content" style="margin: 20px;">
    <% if (data.length) { %> 

      <h4 class="title sub"><%= category %> </h4>
      <div class="card-grid">
      <% data.forEach(item => { %>
          <div class="card">
            <p class="book-nm title sub center "><%= item.bk_nm %></p>
            <img src="/images/book-cover.jpg" alt="" class="book-img">
            <a href="/requests/selection/<%= item.id %>" class="button"> Borrow </a>
          </div>
      <% }) %>
    <% } else {%>
      <div style="margin: 20px;">
        <h4 class="title sub"><%= category %> </h4>
        <p>No entries for this category</p>
      </div>
    <% } %> 
  </div>
  </div>
</div>