<div class="message">
  <% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
     <p class="alert alert-success mt-4"><%- messages.success %></p>
<% } %>
</div>

<table class="table table-dark" style="width:90%; margin:30px auto; text-align: center;">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Book Name</th>
      <th>Status</th>
      <th>Date</th>
      <% if(my_session.is_lib === 'yes') { %> 
        <th>Action</th>
      <% }%>
      
      
    </tr>
  </thead>
  <tbody>
   <% 
      if (data.length) { 
        for(var i = 0; i < data.length; i++){
   %>
        <tr>
          <td> <%= data[i].id%> </td>
          <td> <%= data[i].fname%> </td>
          <td> <%= data[i].lname%> </td>
          <td> <%= data[i].bk_nm%> </td>
          <td> <%= data[i].status%> </td>
          <td> <%= data[i].requested_dt.toLocaleString('sv-SE')%> </td>
          <% if(my_session.is_lib === 'yes') { %> 
            <td>
            <a href="requests/allow/<%=data[i].bk_id%>" class="text --2 button">Allow</a>
            <a href="" class="text --2 button">Deny</a>
            </td>
          <% }%>    

          
        </tr>
      <%
         }
          } else { 
      %>

      <tr>
        <td colspan="4" style="text-align: center;"> NO REQUESTED BOOKS !!!!</td>
      </tr>

      <% } %>
                 
  </tbody>
</table>