<div style="position: absolute ; top:120px">
  <% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
     <p class="alert alert-success mt-4"><%- messages.success %></p>
<% } %>
</div>

<div class="form-container">
  <div class="form-header">
    
      <div class="form-logo">
        <span class="l-text1 small">Stony</span>
        <span class="l-text2 small">Stories</span>
        <span><i class="fa-solid fa-book-open-reader small"></i></span>
      </div>
    
    <h2 class="title right">Login Form</h2>
  </div>
  <form action="/login/authlogin" method="post">

    <div class="form-control">
      <label for="username">Username</label>
      <input type="username" name="username" id="username"  value="<%=my_session.usernm%>">
       <!-- value="<=my_session.usernm%>" -->
    </div>

    <div class="form-control">
      <label for="email">Email Address</label>
      <input type="email" name="email" id="email" value=" <%=my_session.email%> " >
      <!-- value=" <=my_session.email%> " -->
    </div>

    <div class="form-control">
      <label for="password">Password</label>
      <input type="password" name="password" id="password"  >
    </div>

    <input type="hidden" name="userId" id="userId" value="<%= %>"  >

    <div class="btn-cont">
       <button class="button">Submit</button>
    </div>

  </form>
</div>
